
<div class="first">
          
       </div>
<table class="table table-hover table-bordered" >
  <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>     
        <th scope="col">Image</th>
        <th scope="col">Detail</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products" >
        <th scope="row">{{product.id}}</th>
        <th scope="row">{{product.name}}</th>
         <td><img [src]="product.img" width="200px"></td>
       
        <td><button class="btn btn-primary" routerLink="/product/{{product.id}}">Detail</button></td>
        <td><button class="btn btn-primary" routerLink="/product/edit/{{product.id}}" >Edit</button></td>
        <td><button class="btn btn-danger" (click)="removeItem(product.id)">Delete</button></td>

      
    </tbody>
</table>
