<app-header></app-header>

<div class="best_burgers_area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section_title text-center mb-80">
                        <span>Fashionable bucket hats</span>
                        <h3>Best choice!</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://cf.shopee.vn/file/04d3f895b117a8efb438911f346dd347" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket đen trơn</h3>
                            <p>Mũ bucket đen trơn với thiết kế đơn giản dễ dàng mix phụ kiện.</p>
                            <span>$6</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://cf.shopee.vn/file/f4beddfbc83cc7432d898b608ef1682b" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket trắng</h3>
                            <p>Mũ bucket trắng luôn mang lại cho người nhìn một vẻ dẹp hoàn hảo và trẻ trung.</p>
                            <span>$5</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://cf.shopee.vn/file/9d3c7d7c802f2b9b31dbaf8093071026" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket trơn rách</h3>
                            <p>Mũ Tai Bèo Viền Rách hợp thời trang phong cách Hàn Quốc</p>
                            <span>$6</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://cf.shopee.vn/file/19cdb534c66c4c8675ba183a3c176fa7" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket trơn, viền rộng</h3>
                            <p>Là mẫu bucket bán chạy nhất bởi sự năng động, trẻ trung</p>
                            <span>$8</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://s3-ap-southeast-1.amazonaws.com/misskicklibrary/wp-content/uploads/2018/01/25163925/mu-tai-beo.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket xanh ngọc</h3>
                            <p>Thật tuyệt vời cho sự nhẹ nhàng với họa tiết chữ </p>
                            <span>$8</span>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://ae01.alicdn.com/kf/HTB1usuHRNTpK1RjSZR0q6zEwXXaN.jpg_q50.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket sọc kẻ</h3>
                            <p>Mũ Hot trend 2020 với màu vàng là chủ đạo, phù hợp mọi lứa tuổi.</p>
                            <span>$5</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="https://bizweb.dktcdn.net/100/329/281/products/10406705671-1510934832-copy.jpg?v=1569992798643" alt="">
                        </div>
                        <div class="info">
                            <h3>Mũ bucket thêu</h3>
                            <p>Phần vành nhỏ tạo nên một chiếc mũ tổng thể hài hòa, sang trọng </p>
                            <span>$7.5</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="single_delicious d-flex align-items-center">
                        <div class="thumb">
                            <img src="  https://cdn.voh.com.vn/voh/Image/2019/08/29/2019btsulzzangharajukubuckethatswomenkoreanfashiontrendsweetretrotiedyedhiphop_20190829104625.jpg" alt="">
                        </div>
                        <div class="info">
                            <h3>Bucket bò pha</h3>
                            <p>Mũ bucket chất liệu bò kết hợp 2 màu xanh hồng-màu siêu sắc lạ mắt</p>
                            <span>$9</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="iteam_links">
                        <a class="boxed-btn5" href="Menu.html">More Items</a>
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> --> 
        </div>
</div>

<app-footer></app-footer>  


      






      
      
