 <aside class="menu-sidebar d-none d-lg-block">
            <div class="logo">
                <a href="#">
                  <h1> Bucket Hat</h1>
                </a>
            </div>
            <div class="menu-sidebar__content js-scrollbar1">
                <nav class="navbar-sidebar">
                    <ul class="list-unstyled navbar__list">
                        <li>
                            <a class="js-arrow" routerLink="/admin/">
                                <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard</a>
                            
                        </li>
                        <li>
                            <a routerLink="/admin/products">
                               <i class="fa fa-list" aria-hidden="true"></i>Products</a>
                        </li>
                        <li>
                            <a routerLink="/admin/add-product">
                               <i class="fa fa-cart-plus" aria-hidden="true"></i>Add Product</a>
                        </li>
                       
                    </ul>
                </nav>
            </div>
</aside>