 <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex">
<div class="logo mr-auto">
        <h1 class="text-light"><a href="index.html">Bucket Hats </a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="index.html">Home</a></li>
          <li><a routerLink="/product-list">Product</a></li>
          <li><a href="">New</a></li>
          <li><a href="">Services</a></li>
          <li><a href="">Contact</a></li>

          <li class="get-started"><a href="#get-started">Get Started</a></li>
        </ul>
      </nav><!-- .nav-menu -->
</div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
   <div class="hero-container" data-aos="fade-up">
    <h1>Welcome to the fashion hat shop</h1>
    <h2>We are a talented design team creating unique hats</h2>
    <a href="#about" class="btn-get-started scrollto">Get Started</a>
  </div>
  </section><!-- End Hero -->